*~
model.log
*/input.csv
__pycache__
.python-version
/output/*
metadata/*
venv/
.DS_Store
.Rhistory
.Rproj.user/
.devcontainer/ehrql-main/

.coverage*
.pytest-cache/
.venv/
__pycache__
htmlcov
.env
.test.env
